// Place all the styles related to the Eateries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: left;
  background: {
    image: asset-data-url("fantasy_land.jpg");
  }
}

#poop {
  font-size: 20px;
  color: firebrick;
  background-color: white;
}

header {
  background-color: firebrick;
}

strong {
  color: blue;
}
