<p>
  <strong>Rating:</strong>
  <%= rate.rating_value %>
</p>

<p>
  <strong>Comment:</strong>
  <%= rate.rating_description %>
</p>

<p>
  <%= link_to 'Remove Troll Rating', [rate.eatery, rate],
               method: :delete,
              data: {confirm: 'Are you sure you want to remove troll rating?' } %>
</p>
