<p>
  <strong>Rating:</strong>
  <%= rate.rating_value %>
</p>

<p>
  <strong>Comment:</strong>
  <%= rate.rating_description %>
</p>

<p>
  <%= link_to 'Destroy' , [rate.eatery, rate],
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
</p>
